@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "NanumSquare";
  background-color: #ffffff;
  font-size: 16px;
}

@layer components {
  .inputBox {
    @apply;
  }
}

.input-transparent {
  background-color: transparent;
}

.textarea-transparent {
  background-color: transparent;
}

.bg-violet {
  background-color: #ede9fe;
}
